/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/** Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/** Root */
:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --accent-900: #000003;
  --accent-800: #101C59;
  --accent-700: #18297F;
  --accent-600: #1F33A6;
  --accent-500: #263FCC;
  --accent-400: #2E4DE6;
  --accent-300: #AABFFF;
  --accent-200: #D6E0FF;
  --accent-100: #FCFFFF;

  --neutral-900: #000;
  --neutral-800: #222;
  --neutral-700: #444;
  --neutral-600: #666;
  --neutral-500: #888;
  --neutral-400: #aaa;
  --neutral-300: #ccc;
  --neutral-200: #eee;
  --neutral-100: #fff;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
}

/** General */
* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/** Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  color: var(--accent-400);
  
  &:hover {
    color: var(--accent-800);    
  }
}

button {
  cursor: pointer;
  /* background-color: transparent; */
  border: none;
}